<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light">
  {% block head_extra %}{% endblock %}
  <title>{% block title %}RELab RPi Camera{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  {% block extra_scripts %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block body %}{% endblock %}
</body>
</html>
